.Rproj.user/shared/notebooks/paths
*.pper
.Rproj.user/shared/notebooks/patch-chunk-names
*.json
.Rproj.user/85F28889/sources/prop/9FDC33C7
.Rproj.user/85F28889/sources/prop/INDEX
.Rproj.user/85F28889/sources/session-7830a4e0/E2699637
.Rproj.user/85F28889/sources/session-7830a4e0/E2699637-contents
.Rproj.user/85F28889/sources/session-7830a4e0/lock_file
